Cargo.lock
docs/*
target/*
.idea/*
.vs/*
*.pyc
.pytest_cache/*
weather.exe
weatherd.exe
weather.spec
test.http

internal/async_runner/target/*
internal/cache/target/*
internal/networking/target/*
internal/now/target/*
internal/terminal/target/*
internal/weather_dirs/target/*
internal/weather_error/target/*

custom_backends/theweatherchannel/target/*
dev-scripts/target/*
