Cargo.lock
build/*
docs/*
dist/*
venv/*
target/*
updater/target/*
.idea/*
.vs/*
*.pyc
.pytest_cache/*
weather.exe
weatherd.exe
weather.spec
test.http

custom_backends/theweatherchannel/target/*
dev-scripts/target/*

