[[bin]]
required-features = ["support"]
name = "weatherd"
path = "bin/weatherd.rs"

[[bin]]
required-features = ["support"]
name = "updater"
path = "bin/updater.rs"

[[bin]]
required-features = ["support", "installer", "gui"]
name = "gui_installer"
path = "bin/gui_installer.rs"

[[bin]]
required-features = ["support", "installer"]
name = "installer"
path = "bin/installer.rs"

[[bin]]
required-features = ["binary"]
name = "weather"
path = "bin/weather.rs"


[lib]
name = "weather_core"
crate-type = [
    "cdylib",
    "rlib",
]

[package]
name = "weather"
version = "2023.4.22"
edition = "2021"
authors = ["Ashwin Naren"]
rust-version = "1.60.0"
description = "weather, in your terminal"
readme = "README.md"
homepage = "https://arihant2math.github.io/weathercli/"
repository = "https://github.com/arihant2math/weathercli"

[build-dependencies]
winresource = "0.1"

[dependencies]
bincode = "1.3.3"
rayon = "1.7.*"
serde_json = "1.0.*"
sha2 = "0.10.*"
crossterm = "0.26.*"
futures-util = { version = "0.3.*", optional = true }
indicatif = { version = "0.17.*", optional = true }
iced = { version = "0.9.*", optional = true }
tokio = { version = "1.27.*", features = ["full"], optional = true }
clap = { version = "4.2.*", features = ["derive"] }
serde = { version = "1.0.*", features = ["derive"] }
reqwest = { version = "0.11.*", features = ["blocking", "json", "cookies"] }
thiserror = { version = "1", optional = true }
hex = "0.4.*"
image = "0.24.6"
ureq = { version = "2.6.2", features = ["cookies", "json"], path = "./lib/ureq" }
cookie_store = "0.19.0"
url = "2.3.1"
dark-light = "1.0.0"
libloading = "0.8.0"
log4rs = "1.2.0"
log = "0.4.17"
regex = "1.8.1"

[dev-dependencies]
rand = "0.8.5"

[target.'cfg(unix)'.dependencies]
libc = "0.2"

[target.'cfg(target_os = "redox")'.dependencies]
redox_users = { version = "0.4", default-features = false }

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.48.*", features = [
    "Win32_UI_Shell",
    "Win32_Foundation",
    "Win32_Globalization",
    "Win32_System_Com",
] }
winreg = "0.50.*"
windows = { version = "0.48.*", features = ["Foundation", "Devices_Geolocation"] }

[features]
binary = []
support = ["binary", "dep:tokio", "dep:futures-util", "dep:thiserror", "reqwest/stream", "dep:indicatif"]
installer = ["binary"]
gui = ["binary", "dep:iced"]
default = []

[profile.bench]
debug = true
