{% extends 'base.html' %}
{% block head %}
    <title>Configuration - Weathercli</title>
{% endblock %}
{% block body %}
    <h1>Configuring Weathercli</h1>
    <p class="default-margin">The first time you run the app on your system a directory is created with the default configuration in it
        ~/.weathercli/), most of the important settings are found in "settings.json"</p>
    <p class="default-margin">settings.json is merely a table of settings, below is a list of all settings, and description and examples of the values</p>
    <table class="table table-bordered table-hover" style="padding-left: 10px">
      <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Values</th>
            <th scope="col">Function</th>
            <th scope="col">Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th scope="row">OPEN_WEATHER_MAP_API_KEY</th>
            <td>any string</td>
            <td>The API key for Open Weather Maps</td>
            <td>None</td>
        </tr>
        <tr>
            <th scope="row">BING_MAPS_API_KEY</th>
            <td>any string</td>
            <td>The API key for Bing Maps (used for better geolocation)</td>
            <td>None</td>
        </tr>
        <tr>
            <th scope="row">NCDC_API_KEY</th>
            <td>any string</td>
            <td>NOAA NCDC API KEY (unused as of now)</td>
            <td>None</td>
        </tr>
        <tr>
            <th scope="row">METRIC_DEFAULT</th>
            <td>true, false</td>
            <td>if true, the default units will be metric</td>
            <td>false</td>
        </tr>
        <tr>
            <th scope="row">WEATHER_DATA_HASH</th>
            <td>any string</td>
            <td>the sha512 hash of ~/.weathercli/weather_codes.json if the hashes of the website, this value, and the actual file don't match an updated version is downloaded</td>
            <td>Nothing, but it's updated after the first run.</td>
        </tr>
        <tr>
            <th scope="row">DEFAULT_BACKEND</th>
            <td>METEO, NWS, THEWEATHERCHANNEL, OPENWEATHERMAP</td>
            <td>if true, the default units will be metric</td>
            <td>METEO</td>
        </tr>
        <tr>
            <th scope="row">CONSTANT_LOCATION</th>
            <td>true, false</td>
            <td>if true, the users current location will be cached</td>
            <td>false</td>
        </tr>
      </tbody>
    </table>
{% endblock %}
