{% extends 'base.html' %}
{% block head %}
    <title>Weather CLI</title>
    <style>

        .card-title {
            color: #198754;
        }

        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.png");
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }

        .page-view {
            height: 50%;
        }

        .text-typing {
          padding: 20px 30px;
          font-size: 35px;
          border-radius: 50px;
        }

        .text-typing p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          animation: typing 2s steps(45,end) forwards, blink 1s infinite;
        }

        @keyframes typing {
          0% { width:0 }
          100% { width:100% }
        }

        @keyframes blink {
          0%,100% {
            border-right: 2px solid transparent;
          }
          50% {
            border-right: 2px solid #ffffff;
          }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size: 50px">Weather CLI</h1>
            <div class="text-typing">
                <p>A blazing fast CLI written in python and rust</p>
            </div>
            <div class="btn-group" role="group" aria-label="Hero Download" data-aos="flip-down">
                <button type="button" class="btn btn-primary btn-lg" onclick="download()"><i class="bi bi-download"></i> Download</button>
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" onclick="download_windows()">Windows x64</button></li>
                  <li><button class="dropdown-item" onclick="download_unix()">Unix </button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-view">
        <h1 data-aos="fade-left">Why Weathercli</h1>
        <div class="row default-margin">
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;" data-aos="fade-right">
                    <div class="card-body">
                        <h5 class="card-title">Less than 0.5 seconds from start to finish!</h5>
                        <p class="card-text">Efficient threading and caching allow weathercli to quickly deliver results.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;" data-aos="fade-up">
                    <div class="card-body">
                        <h5 class="card-title">Partially written in rust</h5>
                        <p class="card-text">Weathercli has computationally intensive tasks done in rust via
                            <a href="https://pyo3.rs/v0.18.0/">PyO3</a> to save time.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;" data-aos="fade-up">
                    <div class="card-body">
                        <h5 class="card-title">Custom Themes</h5>
                        <p class="card-text">Quickly personalize the output of weathercli to your liking.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card" style="width: 18rem;" data-aos="fade-left">
                    <div class="card-body">
                        <h5 class="card-title">Multiple datasources</h5>
                        <p class="card-text">Datasources include the weather channel, the NWS, and openweathermap</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-view">
        <h1 data-aos="fade-right">Install</h1>
        <p class="default-margin" data-aos="fade-up">Download the executable and place it in an empty directory that in on your path.</p>
    </div>
    <script>
        {% include 'index.js' %}
    </script>
{% endblock %}