name: Rust Builds

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'custom_backends/**'
      - 'dev-scripts/**'
      - 'icon/**'
      - 'docs_templates/**'
      - 'tests/**'
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        os: [ "ubuntu-latest", "windows-latest", "macos-latest" ]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - name: Setup ATK
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install librust-atk-dev libgtk-3-dev
      - name: Build with cargo
        run: cargo build -r --all-features

      - uses: actions/upload-artifact@v6
        if: startsWith(matrix.os, 'windows')
        with:
          name: installer (Windows)
          path: ./target/release/installer.exe

      - uses: actions/upload-artifact@v6
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: installer (Linux)
          path: ./target/release/installer

      - uses: actions/upload-artifact@v6
        if: startsWith(matrix.os, 'windows')
        with:
          name: weather (Windows)
          path: ./target/release/weather.exe

      - uses: actions/upload-artifact@v6
        if: startsWith(matrix.os, 'ubuntu')
        with:
          name: weather (Linux)
          path: ./target/release/weather